---
import DefaultLayout from '../layouts/DefaultLayout.astro';
const defaultLang = 'en';
---
<DefaultLayout title="Camino Francés" lang={defaultLang}>
  <p>Velg språk i toppen for å starte kartet.</p>
</DefaultLayout>